@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Bellefair&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}

.font-bellefair {
    font-family: "Bellefair", serif;
}

.font-barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif;
}

.animation-duration-20000 {
    animation-duration: 20000ms;
}

@keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-1000px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fade-in-left {
    animation-name: fade-in-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(1000px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fade-in-right {
    animation-name: fade-in-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  

  @keyframes fade-in-top {
    0% {
      opacity: 0;
      transform: translatey(-1000px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
  
  .animate-fade-in-top {
    animation-name: fade-in-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }